body {
    background-color: lightgray;
}
#LL_logo {
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
}
div {
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
}
fieldset {
    border-style: none;
}
